*{
    padding: 0%;
    margin-left: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;

}

header{
    width: 1080px;
    height: 600px;
    display: block;
    background-image: url("https://www.amherst.edu/system/files/media/Mammoth-moon-Halloween-transparent.gif&__=1603398037");
    background-repeat: no-repeat;
    background-size: 54%;
    margin-left: 34%;
}
header h1{
    font-size: 60px;
    color: rgb(146, 146, 146);
    display: block;
    float: left;
    width: 600px;
    margin-left: 13%;
    padding-top: 200px;
    text-shadow: 3px 4px rgb(39, 0, 12);
    background-color: transparent;
}



.geral img{
width: 80%;
padding-left: 10%;
}

.geral{
    width: 100%;
    height: auto;
    display: block;
    background-color: black;
}

.geral h2{
    color: rgb(59, 59, 59);
    text-shadow: 1px 2px rgb(153, 153, 153);
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.geral marquee img{
    width: 10%;
    height: 5%;
}
.geral h3{
    color: rgb(59, 59, 59);
    text-shadow: 1px 2px rgb(153, 153, 153);
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}


.geral p{
    color: rgb(59, 59, 59);
    text-shadow: 1px 2px rgb(153, 153, 153);
    font-size: 16px;
    text-align: justify;
    margin-bottom: 18px;
    line-height: 25px;
    width: 90%;
}



.vassoura {
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    margin-right: 50%;
   
    
}

.vassoura > img{
    width: 15%;
    height: 10%;
    display: block;
    float: left;


}


 .textos {
    --b: 8px;
    --s: 60px; 
    --g: 14px; 
    --c: #3c1f3f; 
    
    padding: calc(var(--b) + var(--g));
    background-color: gray;
    float: left;
    border: 5px solid black;
    margin-left: 15%;
    background-image:
      conic-gradient(from  90deg at top    var(--b) left  var(--b),#4e3d50 25%,var(--c) 0),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),#4e3d50 25%,var(--c) 0);
    background-position:
      var(--_p,0%) var(--_p,0%),
      calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    color: rgb(216, 216, 216);
    text-shadow: 1px 2px rgb(12, 12, 12);
    width: 500px;
    height: 300px;
    transition: 
      background-position .3s var(--_i,.3s), 
      background-size .3s calc(.3s - var(--_i,.3s));

      
  }
  .textos.alt {
    background-image:
      conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
      conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
      calc(100% - var(--_p,0%)) var(--_p,0%),
      var(--_p,0%) calc(100% - var(--_p,0%));
  }
 .textos:hover {
    background-size: calc(100% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g)/2);
    --_i: 0s;
  }

  footer{
    width: 100%;
    display: block;
    height: 700px;
    float: left;
    background-color:rgb(0, 0, 0);
    margin-top: 10%;
}

.footer{
    width: 33%;
    height: 50%;
    display: block;
    float: left;
    background-color: grey;
    margin-left: 4px;
    
}

.footer h4{
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    color: black;
    background-color: transparent;
}

.footer p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: transparent;

}

.footer a img {
    height: 15%;
    width: 10%;
    background-image: url('https://png.pngtree.com/png-clipart/20230407/original/pngtree-circle-with-shadow-png-image_9032546.png');
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    
}

.footer img{
    height: 200px;
    width: 200px;
    background-color: transparent;
}

