*{
    padding: 0%;
    margin-left: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;

}

header{
    width: 1600px;
    height: 500px;
    display: block;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/008/339/864/original/sam-bayot-bat-all-movement.gif?1512105740");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 100px;
    
    
}



#gifzada img{
width: 80%;
padding-left: 10%;
}

.geral{
    width: 100%;
    height: auto;
    display: block;
    background-color: black;
}

#hello img{
    width: 170px;
    height: 153px;
    display: block;
    margin-left: 45%;
}

.geral marquee img{
    width: 10%;
    height: 5%;
}
.geral h3{
    color: rgb(59, 59, 59);
    text-shadow: 1px 2px rgb(153, 153, 153);
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 39%;
    width: 400px;
    border: 2px #373238;
    border-style: dotted;
}


.geral p{
    color: rgb(59, 59, 59);
    text-shadow: 1px 2px rgb(153, 153, 153);
    font-size: 16px;
    text-align: justify;
    margin-bottom: 18px;
    line-height: 25px;
    width: 90%;
}



.vassoura {
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    margin-right: 50%;
   
    
}




 .textos {
    --b: 8px;
    --s: 60px; 
    --g: 14px; 
    --c: #3c1f3f; 
    
    padding: calc(var(--b) + var(--g));
    background-color: gray;
    float: left;
    border: 15px solid black;
    margin-left: 15%;
    margin-right: 6%;
    background-image:
      conic-gradient(from  90deg at top    var(--b) left  var(--b),#4e3d50 25%,var(--c) 0),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),#4e3d50 25%,var(--c) 0);
    background-position:
      var(--_p,0%) var(--_p,0%),
      calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    color: rgb(216, 216, 216);
    text-shadow: 1px 2px rgb(12, 12, 12);
    width: 350px;
    height: 150px;
    transition: 
      background-position .3s var(--_i,.3s), 
      background-size .3s calc(.3s - var(--_i,.3s));

      
  }
  .textos.alt {
    background-image:
      conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
      conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
      calc(100% - var(--_p,0%)) var(--_p,0%),
      var(--_p,0%) calc(100% - var(--_p,0%));
  }
 .textos:hover {
    background-size: calc(100% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g)/2);
    --_i: 0s;
  }

  footer{
    width: 100%;
    display: block;
    height: 700px;
    float: left;
    background-color:rgb(0, 0, 0);
    margin-top: 10%;
}

.footer{
    width: 29%;
    height: 45%;
    display: block;
    float: left;
    background-color: grey;
    border-radius: 3%;
    box-shadow: 5px 7px #4e3d50;
    margin-left: 2%;
    margin-right: 2%;
    
}

.footer h4{
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    color: black;
    background-color: transparent;
    margin-left: 40%;
}



.footer p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 1px 1px #3c1f3f;
    font-weight: bold;
    background-color: transparent;
    background-position: center;
    padding-left: 7%;
    padding-right: 5%;
    margin-left: 18%;

}



.footer a img{
    height: 210px;
    width: 210px;
    background-color: transparent;
    margin-left: 20%;
    display: block;
}


.container{
    position:relative;
    width:400px;
    height:200px;
    margin: auto;
    padding-top:200px;
    padding-left: 270px;  
  }
  
  .button {
    color: #8c9788;
    text-shadow: 1px 2px #6c7568;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 27px;
    background: #402e44;
    border-radius: 50px;
    padding: 30px 90px;
    border: none;
    transition: .5s ease;
    box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .5);
  }
  
  .button:hover {
    box-shadow: none;
    cursor: pointer;
  }
  
  .button:hover + .drip-1{
    height: 50px;
  }
  
  .button:hover ~ .drip-2{
    height: 90px;
  }
  
  .button:hover ~ .drip-3{
    height: 30px;
  }
  
  
  
  .drip-1{
    position:absolute;
    width:19px;
    height:0px;
    border-radius:0 0 21px 21px;
    background:#ddaed398;
    margin: 0px 158px;
    transition: height 0.9s ease;
  }
  
  
  .drip-2{
    position:absolute;
    width:19px;
    height:0px;
    border-radius:0 0 21px 21px;
    background:#ddaed398;
    margin: 0px 140px;
    transition: height 1.5s ease;
  }
  
  .drip-3{
    position:absolute;
    width:19px;
    height:0px;
    border-radius:0 0 21px 21px;
    background:#ddaed398;
    margin: 0px 60px;
    transition: height .7s ease;
  }